  html {
    background-color:white;
    font-family:sans-serif;
    text-align:center;
  }
  em{
    color:darkred;
  }
  .nav{
    background-color:gray;
    overflow: hidden;
 
 }
 
 .nav a{
    float: right;
    color:grey;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
 }
 
 .nav a:hover{
    background-color: black;
   color:white;
 }
 
 .nav a:visited{
    color: blue;
 }
 
 footer{
   background-color: gray;
 }